html {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(178, 207, 245); /* Light blue background */
}

.hello {
    position: relative;
    text-align: center;
}

input {
    border-radius: 7px;
    border-color: rgb(0, 102, 204); /* Blue border */
}

button {
    border: none;
    border-radius: 13px;
    background-color: rgb(2, 102, 193); /* Blue button background */
    color: white;
    padding: 5px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

button:hover {
    transform: scale(1.3);
    background-color: rgb(1, 80, 160); /* Darker blue on hover */
}

#cboPep {
    border-radius: 13px;
    border: none;
    background-color: rgb(2, 102, 193); /* Blue dropdown background */
    color: white;
}

